{% if basic_auth is string and basic_auth | length > 0 %}
{{ basic_auth }}
{% elif basic_auth is not string and basic_auth is not mapping and basic_auth is iterable %}
{{ basic_auth | flatten | join('\n') }}
{% endif %}
